* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  color: #0b132b;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  border-bottom: 1px solid #eee;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #333;
}

.register-btn {
  background: #2ecc71;
  border: none;
  padding: 10px 28px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 90px 80px;
  gap: 60px;
  align-items: center;
}

.hero img {
  width: 100%;
  border-radius: 24px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
}

/* DARK SECTION */
.dark {
  background: #050c24;
  color: white;
  text-align: center;
  padding: 100px 240px;
}

/* PROGRAMMES */
.programmes {
  padding: 90px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  margin-top: 50px;
}

.card {
  background: #f6f8f7;
  padding: 20px;
  border-radius: 28px;
  text-align: left;
}

.card img {
  width: 100%;
  border-radius: 18px;
}

/* CAMPUS */
.campus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #def4f6;
  padding: 80px;
  gap: 60px;
}

.campus img {
  width: 100%;
  border-radius: 26px;
}

/* VALUES */
.values {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding: 70px 80px;
  align-items: center;
}

.line {
  width: 2px;
  height: 80px;
  background: #2ecc71;
  justify-self: center;
}

/* CTA */
.cta {
  background: #003f7d;
  color: white;
  text-align: center;
  padding: 100px;
}

.cta button {
  margin-top: 30px;
  padding: 15px 42px;
  background: #2ecc71;
  border: none;
  color: white;
  border-radius: 30px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 20px;
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

/* ANIMATION */
.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */
@media(max-width:1000px){
  .hero,.campus{grid-template-columns:1fr}
  .cards{grid-template-columns:repeat(2,1fr)}
}
@media(max-width:600px){
  .cards{grid-template-columns:1fr}
}
